* {
  font-family: Lucida Console; 
  font-size: 20px;
}


.terminal-input-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.terminal-header {
  width: 30%;
}

#terminal-input {
  width: 70%;
  border: none;
}
